[submodule "home/config/.config/nvim"]
	path = home/config/.config/nvim
	url = https://github.com/NishantJoshi00/nvim-config.git
[submodule "home/config/.config/alacritty/themes"]
	path = home/config/.config/alacritty/themes
	url = https://github.com/alacritty/alacritty-theme.git
[submodule "home/config/.config/tmux/plugins/tpack"]
	path = home/config/.config/tmux/plugins/tpack
	url = https://github.com/tmuxpack/tpack
